* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: #0d1335;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 30px;
  background: linear-gradient(90deg, #0e1f52, #1946fa);
  color: white;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: 800;
  transition: 0.3s;
  font-size: 30px;
}

.nav-links a:hover {
  color: #e60f57;
}

.bl-logo-1 {
  transform-origin: center;
  animation: growShrinkShadow 2.5s ease-in-out infinite;
}

@keyframes growShrinkShadow {
  0% {
    fill: #00e5ff;
    filter: drop-shadow(0 0 30px #00e5ff);
  }

  100% {
    fill: #00e5ff;
    filter: drop-shadow(0 0 30px #00e5ff);
  }
}

.vid {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40vh;
  background: #fff;
  position: relative;
  overflow: hidden;
}

.bl-img {
  width: 30vh;
  height: 30vh;
}

.bl-vid {
  width: 100%;
  height: 100%;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(4, minmax(220px, 1fr));
  gap: 20px;
  margin-left: 100px;
  padding: 30px;
}

.card {
  overflow: hidden;
  transition: transform 0.3s;
  width: 270px;
  height: 500px;
  border-radius: 17px;
  border: 1px solid #ccc;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

#banner {
  width: 100%;
  height: 50vh;
  background:
    url(assets/images/banner/banner-1.png) center / contain no-repeat,
    linear-gradient(to right, #e60f57 50%, #01409a 50%);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  display: inline-block;
  width: fit-content;
  height: fit-content;
  padding: 0;
  margin: 0;
  line-height: 0;
  cursor: pointer;
}

.btn img{
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  pointer-events: auto;
  gap: 100px;
  animation: appear 3s ease-in-out;
  z-index: 2;
}

.banner-img {
  position: absolute;
  width: auto;
  height: 50vh;
  opacity: 0.75;
  z-index: 1;
}

.img-left {
  left: -30px;
  top: 0;
  animation: appearFromLeft 1s ease-in-out;
}

.img-right {
  right: 0;
  top: 0;
  animation: appearFromRight 1s ease-in-out;
}

@keyframes appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

}

@keyframes appearFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  100% {
    opacity: 0.75;
    transform: translateX(0);
  }

}

@keyframes appearFromRight {
  0% {
    opacity: 0.25;
    transform: translateX(100%);
  }

  100% {
    opacity: 0.75;
    transform: translateX(0);
  }
}
