* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: #0d1335;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 30px;
  background: linear-gradient(90deg, #0e1f52, #1946fa);
  color: white;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: 800;
  transition: 0.3s;
  font-size: 20px;
}

.nav-links a:hover {
  color: #00e5ff;
  text-shadow: 0 0 6px #00e5ff;
}

.bl-logo-1 {
  transform-origin: center;
  animation: growShrinkShadow 2.5s ease-in-out infinite;
}

@keyframes growShrinkShadow {
  0% {
    filter: drop-shadow(0 0 30px #0e1f52);
  }

  50% {
    filter: drop-shadow(0 0 0 #00e5ff);
  }

  100% {
    filter: drop-shadow(0 0 30px #0e1f52);
  }
}

.vid {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40vh;
  background: #fff;
  position: relative;
  overflow: hidden;
}

.bl-img {
  width: 30vh;
  height: 30vh;
}

.bl-vid {
  width: 100%;
  height: 100%;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(4, minmax(220px, 1fr));
  gap: 20px;
  margin-left: 100px;
  padding: 30px;
}

.card {
  overflow: hidden;
  transition: transform 0.3s;
  width: 300px;
  height: 500px;
  border-radius: 17px;
  border: 1px solid #ccc;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
